<div class="profile-field">
  <label class="profile-field__label">{{label}}</label>
  <input
    type="{{type}}"
    name="{{name}}"
    class="profile-field__input"
    value="{{value}}"
    placeholder=""
    {{#if readonly}}readonly{{/if}}
  />
  <p class="profile-field__input-helper">{{helper}}</p>
</div>
